<head>
  <script>
      $(document).ready(function() {
          pointsLeft();
          $("button.down").click(function (e) {
              e.preventDefault();
              e.stopPropagation();
              if (parseInt($(this).siblings(".stat").attr("data-base-value")) < parseInt($(this).siblings(".stat").val())) {
                  $(this).siblings(".stat").val(parseInt($(this).siblings(".stat").val()) - 1);
                  pointsLeft();
              }
          });

          $("button.up").click(function (e) {
              e.preventDefault();
              e.stopPropagation();
              if (pointsLeft() > 0)
                  $(this).siblings(".stat").val(parseInt($(this).siblings(".stat").val()) + 1);
              pointsLeft();
          });
      });
  </script>
</head>

<%= form_with(model: fighter, local: true) do |form| %>
    <% if fighter.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(fighter.errors.count, "error") %> prohibited this fighter from being saved:</h2>

        <ul>
        <% fighter.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <h3>Talent points = <span class="talent_point">0</span></h3>

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name, id: :fighter_name %>
    </div>

    <div class="field">
      <%= form.label :level %>
      <%= form.number_field :level, id: :fighter_level, disabled: true%>
    </div>

    <div class="field">
      <%= form.label :hp %>
      <%= form.number_field :hp, id: :fighter_hp, disabled: true%>
    </div>

    <div class="field">
      <%= form.label :damage %>
      <%= form.number_field :damage, id: :fighter_damage, disabled: true %>
    </div>

    <div class="field">
      <%= form.label :strength %>
      <button class="down">-</button>
      <%= form.number_field :strength, min: 0, id: :fighter_strength, class: 'stat strength', readonly: true, data: { "base-value": @fighter.strength } %>
      <button class="up">+</button>
    </div>

    <div class="field">
      <%= form.label :dexterity %>
      <button class="down">-</button>
      <%= form.number_field :dexterity, min: @fighter.dexterity, id: :fighter_dexterity, class: 'stat dexterity', readonly: true, data: { "base-value": @fighter.dexterity } %>
      <button class="up">+</button>
    </div>

    <div class="field">
      <%= form.label :intelligence %>
      <button class="down">-</button>
      <%= form.number_field :intelligence, min: 0, id: :fighter_intelligence, class: 'stat intelligence', readonly: true, data: { "base-value": @fighter.intelligence } %>
      <button class="up">+</button>
    </div>

    <div class="field">
      <%= form.label :weapon_id%>
      <%= form.select :weapon_id, options_for_select(@weapon.collect{ |u| ["#{u.name} -> #{u.damage} dmg :: #{u.dexterity} dext / #{u.strength} str / #{u.intelligence} intel", u.id] }, @fighter.weapon_id), include_blank: true %>
    </div>

    <%= form.hidden_field :talent, id: :fighter_talent, class:'talent'%>
    <div class="actions">
      <%= form.submit %>
    </div>
<% end %>
