<head>
  <script>
      $(document).ready(function() {
          pointsLeft();
          $("button.down").click(function (e) {
              e.preventDefault();
              e.stopPropagation();
              if (parseInt($(this).siblings(".stat").val()) > 0)
                  $(this).siblings(".stat").val(parseInt($(this).siblings(".stat").val()) - 1);
              console.log(parseInt($(this).siblings(".stat").val()));
              pointsLeft();
          });

          $("button.up").click(function (e) {
              e.preventDefault();
              e.stopPropagation();
              if (pointsLeft() > 0)
                  $(this).siblings(".stat").val(parseInt($(this).siblings(".stat").val()) + 1);
              console.log(parseInt($(this).siblings(".stat").val()));
              pointsLeft();
          });
      });
  </script>
</head>

<%= form_with(model: fighter, local: true) do |form| %>
    <% if fighter.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(fighter.errors.count, "error") %> prohibited this fighter from being saved:</h2>

        <ul>
        <% fighter.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <h3>Talent points = <span class="talent_point">0</span></h3>

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name, id: :fighter_name %>
    </div>

    <div class="field">
      <%= form.label :level %>
      <%= form.number_field :level, id: :fighter_level, readonly: true%>
    </div>

    <div class="field">
      <%= form.label :hp %>
      <%= form.number_field :hp, id: :fighter_hp, readonly: true%>
    </div>

    <div class="field">
      <%= form.label :damage %>
      <%= form.number_field :damage, id: :fighter_damage, readonly: true %>
    </div>

    <div class="field">
      <%= form.label :strength %>
      <button class="down">-</button>
      <%= form.number_field :strength, min: 0, id: :fighter_strength, class: 'stat strength', readonly: true %>
      <button class="up">+</button>
    </div>

    <div class="field">
      <%= form.label :dexterity %>
      <button class="down">-</button>
      <%= form.number_field :dexterity, min: 0, id: :fighter_dexterity, class: 'stat dexterity', readonly: true%>
      <button class="up">+</button>
    </div>

    <div class="field">
      <%= form.label :intelligence %>
      <button class="down">-</button>
      <%= form.number_field :intelligence, min: 0, id: :fighter_intelligence, class: 'stat intelligence', readonly: true %>
      <button class="up">+</button>
    </div>
    <%= form.hidden_field :talent, id: :fighter_talent, class:'talent'%>
    <div class="actions">
      <%= form.submit %>
    </div>
<% end %>
