<head>
  <script>
      $(document).ready(function() {
          chooseFighter();

          $("#select_first_fighter").change(function() {
              chooseFighter();
          });

          $("#select_second_fighter").change(function() {
              chooseFighter();
          });
      });
  </script>
</head>
<%= form_with(model: match, local: true) do |form| %>
  <% if match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% match.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_fighter %>
    <%= form.hidden_field :first_fighter, value: nil, class:"first_fighter"%>
    <%= select_tag :select_first_fighter, options_for_select(@fighter.collect{ |u| [u.name, u.id] }) %>
  </div>

  <div class="field">
    <%= form.label :second_fighter %>
    <%= form.hidden_field :second_fighter, value: nil, class:"second_fighter"%>
    <%= select_tag :select_second_fighter, options_for_select(@fighter.collect{ |u| [u.name, u.id] }) %>
  </div>

  <div class="field">
    <%= form.hidden_field :winner, value: nil%>
  </div>

  <div class="field">
    <%= form.hidden_field :log, id: :match_log %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
