<p id="notice"><%= notice %></p>

<p>
  <strong>Fighter1:</strong>
  <%= @match.fighter1 %>
</p>

<p>
  <strong>Fighter2:</strong>
  <%= @match.fighter2 %>
</p>

<p>
  <strong>Winner:</strong>
  <%= @match.winner %>
</p>

<p>
  <strong>Log:</strong>
  <%= @match.log %>
</p>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
