<p id="notice"><%= notice %></p>

<p>
  <strong>Fighter1:</strong>
  <%= @match.fighter1 %>
</p>

<p>
  <strong>Fighter2:</strong>
  <%= @match.fighter2 %>
</p>

<p>
  <strong>Winner:</strong>
  <%= @match.winner %>
</p>

<p>
  <strong>Log:</strong>
  <%= simple_format(@match.log) %>
</p>

<%= link_to 'Back', matches_path %>
