<p id="notice"><%= notice %></p>

<p>
  <strong>Fighter1:</strong>
  <%= @match.first_fighter %>
</p>

<p>
  <strong>Fighter2:</strong>
  <%= @match.second_fighter %>
</p>

<p>
  <strong>Winner:</strong>
  <%= @match.winner %>
</p>

<p>
  <strong>Log:</strong>
  <%= simple_format(@match.log) %>
</p>

<h4><%= link_to 'New Match', new_match_path %> <%= link_to 'Arena History', matches_path %></h4>
<h4><%= link_to 'New Fighter', new_fighter_path %> <%= link_to 'Fighters List', fighters_path %></h4>
